.container {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 100 !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-inner {
    max-width: 450px;
    transform: translateY(-100px);
  }
}

.title {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 8px;
}

.description {
  line-height: 21px;
  margin-bottom: 10px;
}

.btn-go-home {
  margin-top: 15px;
  padding: 0 16px;
  height: 36px;
  min-width: 164px;
  color: inherit !important;
  font-size: 0.875rem;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  transition-duration: 0.28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 28px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
