.b-theme-header {
  &-container {
    padding: 0;
    display: flex;
    align-items: center;
  }

  &-logo {
    height: 56px;
    width: auto;

    &__img {
      height: 100%;
    }

    &__text {
      margin-left: 5px;
      display: inline-block;
      line-height: 56px;
      vertical-align: top;
    }
  }

  &-menu {
    &__icon {
      vertical-align: text-bottom !important;
      color: inherit !important;
    }
  }
}
